<ul class="dropdown-menu receivebycoin" role="menu" aria-labelledby="dropdownMenu2">
    <li id="BTC-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/bitcoin.png"> Bitcoin</a></li>
    <li id="BITUSD-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/bitusd.png"> BitUSD</a></li>
    <li id="BTS-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/bitshares.png"> Bitshares</a></li>
    <li id="BLK-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/blackcoin.png"> Blackcoin</a></li>
    <li id="BTCD-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/bitcoindark.png"> BitcoinDark</a></li>
    <li id="CLAM-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/clams.png"> Clams</a></li>
    <li id="XCP-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/counterparty.png"> Counterparty</a></li>
    <li id="DGB-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/digibyte.png"> DigiByte</a></li>
    <li id="DOGE-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/dogecoin.png"> Dogecoin</a></li>
    <li id="DASH-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/dash.png"> Dash</a></li>
    <li id="FTC-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/feathercoin.png"> Feathercoin</a></li>
    <li id="LTC-out" role="presentation" class="active"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/litecoin.png"> Litecoin</a></li>
    <li id="MINT-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/mintcoin.png"> Mintcoin</a></li>
    <li id="XMR-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/monero.png"> Monero</a></li>
    <li id="NBT-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/nubits.png"> Nubits</a></li>
    <li id="NXT-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/nxt.png"> Nxt</a></li>
    <li id="NVC-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/novacoin.png"> Novacoin</a></li>
    <li id="POT-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/potcoin.png"> potcoin</a></li>
    <li id="PPC-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/peercoin.png"> Peercoin</a></li>
    <li id="QRK-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/quark.png"> Quark</a></li>
    <li id="RDD-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/reddcoin.png"> Reddcoin</a></li>
    <li id="SDC-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/shadowcash.png"> Shadowcash</a></li>
    <li id="START-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/startcoin.png"> Startcoin</a></li>
    <li id="USDT-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/tetherusd.png"> TetherUSD</a></li>
    <li id="UNO-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/unobtanium.png"> Unobtanium</a></li>
    <li id="VRC-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/vericoin.png"> Vericoin</a></li>
    <li id="SJCX-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/storjcoinx.png"> StorjcoinX</a></li>
    <li id="GEMZ-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/gemz.png"> GEMZ</a></li>
    <li id="MSC-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/mastercoin.png"> MasterCoin</a></li>
    <li id="SWARM-out" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/swarm.png"> SWARM</a></li>
</ul>