<style>
    .receivebycoin {
        width: 400px;
        position: absolute;
        top: 116px;
        left: 15px;
    }
    .receivebycoin img {
        height: 30px;
    }
    .receivebycoin li {
        width: 180px;
        float: left;
    }
    #choose-button {
        height: 64px;
    }
    #choose-button img {
        width: 50px;
    }
</style>
<button id="choose-button" type="button" class="dropdown btn btn-turquesa">Choose a coin <span class="glyphicon glyphicon-chevron-down"></span></button>
<ul class="dropdown-menu receivebycoin" role="menu" aria-labelledby="choose-button" style="display: none;">
    <li id="BITUSD" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/bitusd.png"> BitUSD</a></li>
    <li id="BTS" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/bitshares.png"> Bitshares</a></li>
    <li id="BLK" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/blackcoin.png"> Blackcoin</a></li>
    <li id="BTCD" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/bitcoindark.png"> BitcoinDark</a></li>
    <li id="CLAM" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/clams.png"> Clams</a></li>
    <li id="XCP" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/counterparty.png"> Counterparty</a></li>
    <li id="DGB" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/digibyte.png"> DigiByte</a></li>
    <li id="DOGE" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/dogecoin.png"> Dogecoin</a></li>
    <li id="DASH" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/dash.png"> Dash</a></li>
    <li id="FTC" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/feathercoin.png"> Feathercoin</a></li>
    <li id="LTC" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/litecoin.png"> Litecoin</a></li>
    <li id="MINT" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/mintcoin.png"> Mintcoin</a></li>
    <li id="XMR" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/monero.png"> Monero</a></li>
    <li id="NBT" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/nubits.png"> Nubits</a></li>
    <li id="NXT" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/nxt.png"> Nxt</a></li>
    <li id="NVC" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/novacoin.png"> Novacoin</a></li>
    <li id="POT" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/potcoin.png"> potcoin</a></li>
    <li id="PPC" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/peercoin.png"> Peercoin</a></li>
    <li id="QRK" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/quark.png"> Quark</a></li>
    <li id="RDD" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/reddcoin.png"> Reddcoin</a></li>
    <li id="SDC" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/shadowcash.png"> Shadowcash</a></li>
    <li id="START" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/startcoin.png"> Startcoin</a></li>
    <li id="USDT" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/tetherusd.png"> TetherUSD</a></li>
    <li id="UNO" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/unobtanium.png"> Unobtanium</a></li>
    <li id="VRC" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/vericoin.png"> Vericoin</a></li>
    <li id="SJCX" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/storjcoinx.png"> StorjcoinX</a></li>
    <li id="GEMZ" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/gemz.png"> GEMZ</a></li>
    <li id="MSC" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/mastercoin.png"> MasterCoin</a></li>
    <li id="SWARM" role="presentation"><a role="menuitem" tabindex="-1" href="#"><img
            src="//shapeshift.io/images/coins/swarm.png"> SWARM</a></li>
</ul>

<input type="hidden" name="coin" />
<span id="selected-label"></span> Address: <input type="text" name="address"/>

<script>
    $('#choose-button').click(function() {
        $('.receivebycoin').toggle();
    });

    $('.receivebycoin').find('li').click(function() {
        $('input[name=coin]').val($(this).attr('id'));
        $('.receivebycoin').hide();
        var coinImg = $('a', this).clone();
        $('#choose-button').html(coinImg);
    });
</script>