<div class="form-group">
    <div class="col-md-5 alert alert-success">
        Please enter your country code first (Example: "1" for the USA)
    </div>
    <label class="col-md-4 control-label" for="textinput">Phone Number</label>
    <div class="col-md-5">
        <input id="textinput" name="number" type="text" class="form-control input-md" required="">
        <label style="position: absolute; top: 7px; left: 18px;">+</label>
        </input>
    </div>
</div>