<div class="simpleTabs">
    <ul class="simpleTabsNavigation">
        <li><a href="#">Address</a></li>
        <li><a href="#">Logs</a></li>
        <li><a href="#">Balance</a></li>
        <li><a href="#">Settings</a></li>
    </ul>
    <div class="simpleTabsContent">
        <img class="loaddr-type" src="img/bank-loaddr.png"/>
        <div class="address-container">
            <span class="address">{{address}}</span>
            <button>Copy to clipboard</button>
        </div>
        <img class="qr-code" src="img/qrcode1.png"/>
    </div>
    <div class="simpleTabsContent">

    </div>
    <div class="simpleTabsContent">
        Unprocessed balance: {{balance}}
    </div>
    <div class="simpleTabsContent"></div>
</div>