<!doctype html>
<html>
<head>
    <title>loaddr - load anything with the tap of an address</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<header>
    <div id="user-info">
    {{#if user}}
        <strong>{{user.local.email}}</strong>
        <a href="/logout">Log out</a>
    {{else}}
        <a href="/login">Login</a>
        <a href="/signup">Sign up</a>
    {{/if}}
    </div>
</header>
    {{> disclaimer }}
    {{{ body }}}
</body>
</html>