<link rel="stylesheet" href="css/simpletabs.css" />
<link rel="stylesheet" href="css/style.css" />

<h2>loaddrs</h2>
<div>
    <h3>Create new</h3>
    <ul>
        <li><a href="/create-loaddr" id="new-bank-loaddr">Bank loaddr</a></li>
        <li><button id="new-phone-loaddr">Phone loaddr</button></li>
    </ul>
</div>
<div>
    <h3>Save these addresses to your wallet</h3>
    {{#each loaddrs}}
        {{> bank-loaddr }}
    {{/each}}
</div>

<script type="text/javascript" src="js/simpletabs_1.3.js"></script>
<script type="text/javascript" src="js/qrcode.js"></script>

<script type="text/javascript">
(function() {
    var qrcodes = document.getElementsByClassName('qrcode');
    for(var i = 0; i < qrcodes.length; i++) {
        var address = qrcodes[i].textContent;
        qrcodes[i].innerHTML = '';
        new QRCode(qrcodes[i], {
            text: address,
            width: 128,
            height: 128,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.M
        });
    }
}());
</script>