<h2>loaddrs</h2>
<div>
    <h3>Create new</h3>
    <ul>
        <li><a href="/create-loaddr/noop">Noop loader</a></li>
        <li><a href="/create-loaddr/redirect">Redirect loader</a></li>
        <li><a href="/create-loaddr/phone">Phone loader</a></li>
        <li><a href="/create-loaddr/bank">Bank loader</a></li>
    </ul>
</div>
<div>
    {{#if loaddrs}}
        <h2>Save these addresses to your wallet</h2>
    {{else}}
        <h2>Create your first loader above</h2>
    {{/if}}
    {{#each loaddrs}}
        {{> loaddr }}
    {{/each}}
</div>

<script type="text/javascript" src="js/vendor/jquery.min.js"></script>
{{> init-socket }}
<script type="text/javascript" src="js/vendor/qrcode.js"></script>
<script type="text/javascript" src="js/app.js"></script>