<link rel="stylesheet" href="css/style.css" />

<h2>loaddrs</h2>
<div>
    <h3>Create new</h3>
    <ul>
        <li><a href="/create-loaddr?type=noop">Noop loader</a></li>
        <li><a href="/create-loaddr?type=redirect">Redirect loader</a></li>
        <li><a href="/create-loaddr?type=phone">Phone loader</a></li>
    </ul>
</div>
<div>
    <h3>Save these addresses to your wallet</h3>
    {{#each loaddrs}}
        {{> loaddr }}
    {{/each}}
</div>

<script type="text/javascript" src="js/vendor/jquery.min.js"></script>
{{> init-socket }}
<script type="text/javascript" src="js/vendor/qrcode.js"></script>
<script type="text/javascript" src="js/app.js"></script>