<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/simple-tabs.css">
<div class="main">
    <div class="container">
        <div class="row">
            <button id="new-button" class="btn btn-success">Add new <span class="glyphicon glyphicon-chevron-down"></span></button>
        </div>

        <div id="new-panel" class="row">
            <ul id="loaddr-types" class="simple-tabs col-sm-3">
                <li class="phone active"><a href="/create-loaddr/phone">Phone loader</a></li>
                <li class="bank"><a href="/create-loaddr/bank">Bank loader</a></li>
                <li class="split"><a href="/create-loaddr/split">Split loader</a></li>
                <li class="altcoin"><a href="/create-loaddr/altcoin">Altcoin loader</a></li>
            </ul>
            <div id="type-descriptions" class="col-sm-8">
                <div class="tab-page active-page" id="phone">
                    Top ups your phone.
                    When it receives bits, it looks for a top up package in <a href="https://www.bitrefill.com/">Bitrefill</a> (the biggest it can afford) and buys it for you.
                    The remaining bits will remain in the loader for the next top up, or you can withdraw them back later.
                </div>
                <div class="tab-page" id="bank">
                    When it receives bits, it deposits them in your account and sells them.
                    (Requires <a href="http://coinbase.com">Coinbase</a> account with connected bank.)
                </div>
                <div class="tab-page" id="split">
                    Splits incoming funds according to a percentage. E.g: 10%: phone top up, 40%: bank, 50%: cold storage. (Hint: use other loaders in the address fields).
                    More loaders coming soon: Altcoin, Steam, Play Store.
                </div>
                <div class="tab-page" id="altcoin">

                </div>
            </div>
        </div>
        <div id="app5" class="row">
            {{#if loaddrs}}
                <h2 id="save-these-addresses">Save these addresses to your wallet</h2>
            {{else}}
                <h2>Create your first loader above</h2>
            {{/if}}
            {{#each loaddrs}}
                {{> loaddr }}
            {{/each}}
        </div>
    </div>
</div>
<script type="text/javascript" src="js/vendor/jquery.min.js"></script>
{{> init-socket }}
<script type="text/javascript" src="js/vendor/qrcode.js"></script>
<script type="text/javascript" src="js/vendor/simple-tabs-pure-js.js"></script>
<script type="text/javascript" src="js/app.js"></script>