<link rel="stylesheet" href="css/simpletabs.css" />
<link rel="stylesheet" href="css/style.css" />

<h2>loaddrs</h2>
<div>
    <h3>Create new</h3>
    <ul>
        <li><a href="/create-loaddr" id="new-bank-loaddr">Bank loaddr</a></li>
        <li><button id="new-phone-loaddr">Phone loaddr</button></li>
    </ul>
</div>
<div>
    {{#each loaddrs}}
        {{> bank-loaddr }}
    {{/each}}
</div>

<script type="text/javascript" src="js/simpletabs_1.3.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>

<script type="text/javascript" src="js/bitcoinaddress-bundle.min.js"></script>
<script>
    $(document).ready(function() {
        bitcoinaddress.init({

            // jQuery selector defining bitcon addresses on the page
            // needing the boost
            selector: ".bitcoin-address",

            // Id of the DOM template element we use to decorate the addresses.
            // This must contain placefolder .bitcoin-address
            template: "bitcoin-address-template",

            // Passed directly to QRCode.js
            // https://github.com/davidshimjs/qrcodejs
            qr : {
                width: 128,
                height: 128,
                colorDark : "#000000",
                colorLight : "#ffffff"
            }
        });
        $(".bitcoin-address-action-qr").trigger('click').hide();


        //TODO: new qrcode.QRCode('14nRgguMLsbb9Sv8MpqTj7QBK3MsUnNttg', {});
    });
</script>

<div id="bitcoin-address-template" class="bitcoin-address-container" style="display: none">

    <div>
        <span class="bitcoin-address"></span>
    </div>

    <a href="#" class="bitcoin-address-action bitcoin-address-action-send">
        <i class="fa fa-btc"></i>
        Pay from wallet
    </a>

    <a href="#" class="bitcoin-address-action bitcoin-address-action-copy">
        <i class="fa fa-copy"></i>
        Copy
    </a>

    <a href="#" class="bitcoin-address-action bitcoin-address-action-qr">
        <i class="fa fa-qrcode"></i>
        QR code
    </a>

    <div class="bitcoin-action-hint bitcoin-action-hint-send">
        Sending payment to the address from locally installed Bitcoin wallet app.
    </div>

    <div class="bitcoin-action-hint bitcoin-action-hint-copy">
        Press CTRL + C or &#x2318; + C to copy the Bitcoin address.
    </div>

    <div class="bitcoin-action-hint bitcoin-action-hint-qr">
        <div class="bitcoin-address-qr-container">
            <!-- Filled in by JS on action click -->
        </div>
    </div>

</div>


