<div class="container">
    <div class="col-sm-6 col-sm-offset-3">

        <form method="post" class="form-horizontal">
        <fieldset>
           <legend>New {{type}} loader</legend>
            {{#if createError}}
                <div class="alert alert-danger">{{createError}}</div>
            {{/if}}
                {{#if externalCreateForm}}
            {{> create-forms }}
        {{else}}
            {{{form}}}
        {{/if}}
        <div class="form-group">
            <div class="col-md-6 control-label"></div>
            <div class="col-md-2">
                <button id="button-submit" type="submit" class="btn btn-success">Create</button>
            </div>
        </div>
        </fieldset>
    </form>
    </div>
</div>