  <div class="main">
    
    <div class="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1 class="title animated fadeInUp">Load Anything with the Tap of an Address</h1>
            <a href="javascript:$.scrollTo('#about',800);" class="btn btn-lg btn-blanco animated fadeInUp">Discover More</a>
          </div>
        </div>
      </div>
    </div>
 
    <div class="whatitis" id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          	<h4 class="litle-title text-center wow animated fadeInUp">About Loaddr</h4>
            <h1 class="title text-center wow animated fadeInUp">What it is</h1>
            <h3 class="emphasis wow animated fadeInUp">Loaddr allows you to create fixed bitcoin addresses, called “loaders”, which you can configure to do almost anything.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-1">
          	<div class="bloc wow animated fadeInUp">
              <h5>Configure your LOADRR to</h5>
              <ul>
                <li>Top up your phone</li>
                <li>Convert bitcoins into fiat</li>
                <li>Split your funds according to a budget</li>
                <li>More coming soon!</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-md-offset-2">
            <div class="bloc wow animated fadeInUp">
              <h5>Each loader will carefully report to you what it’s doing in real time</h5>
              <ul class="list-unstyled">
                <li>[8:01]:Received 132,000 bits…</li>
                <li>[8:01]:Depositing to Coinbase…</li>
                <li>[8:03]:Selling 132,000 bits for 115 USD…</li>
                <li>[8:03]:Sell completed!</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="bloc-grey">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class=" wow animated fadeInUp">Every time a loader receives bits, it spends them in the way you configured it.<br>Think of them as shortcuts, which you can save and use as many times as you want.<br>Simply add them as contacts to your wallet of choice.</p>
          </div>
        </div>
      </div>
    </div>
    
    
    
    <div class="example">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          	<h4 class="litle-title text-center wow animated fadeInUp">Example</h4>
            <h1 class="title text-center wow animated fadeInUp">Creating a phone loader</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-center">
          	<span class="round wow animated fadeInUp">
              <p>1</p>
            </span>
            <p>Click in new “phone loader”</p>
          </div>
          <div class="col-md-4 text-center">
          	<span class="round wow animated fadeInUp" data-wow-delay="1s">
              <p>2</p>
            </span>
            <p>Choose your country and phone number</p>
          </div>
          <div class="col-md-4 text-center">
          	<span class="round wow animated fadeInUp" data-wow-delay="2s">
              <p>3</p>
            </span>
            <p>Save the given address to your contacts</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3 class="emphasis">That’s it.<br>Now when you want to top up your phone, just send bits to that address. You’ll receive a confirmation shortly after with the transaction details.</h3>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="signup">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
    		<a href="/signup" class="btn btn-lg btn-blanco">SIGN UP NOW</a>
          </div>
        </div>
      </div>
    </div>
    
  </div> <!-- /MAIN -->
