.qrcode {
    padding: 5px;
    background-color: white;
    width: 160px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.balance {
    position: absolute;
    right: 10px;
    bottom: 2px;
}

.loaddr-type {
    width: 160px;
}

.loaddr {
    border: 1px solid #484848;
    position: relative;
    margin: 15px auto;
    width: 650px;
    min-height: 170px;
}

.disabled {
    opacity: 0.4;
}

.log {
    display: none;
    position: absolute;
    background-color: white;
    width: 400px;
    border: 1px solid black;
    z-index: 10;
}

.last-log {
    background-color: gray;
}

#new-panel {
    display: none;

}

.loaddr-name {
    font-size: large;
    text-transform: capitalize;
}

.address {
    margin: 0 auto;
}