.qrcode {
    padding: 5px;
    background-color: white;
    width: 160px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.balance-container {
    position: absolute;
    right: 10px;
    bottom: 2px;
}

.loaddr-type {
    width: 160px;
}

.loaddr {
    border: 1px solid #484848;
    position: relative;
    margin: 15px auto;
    width: 650px;
    min-height: 170px;
}

.disabled {
    opacity: 0.4;
}

.log {
    display: none;
    position: absolute;
    background-color: white;
    width: 400px;
    border: 1px solid black;
    z-index: 10;
}

.last-log-container {
    position: absolute;
    bottom: 6px;
    left: 20px;
    width: 430px;
}
.last-log-container .glyphicon {
    float: left;
    color: #1998A5;
}
.last-log {
    width: 370px;
    margin-left: 3px;
    float: left;
    padding-left: 3px;
}

#new-panel {
    display: none;
    background-color: #313650;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 4px 4px 4px 2px;
    margin: 2px;
    border: 1px solid grey;
    color: white;
    min-height: 100px;
}

#loaddr-types li {
    padding: 3px;
    margin: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#loaddr-types a {
    color: #9ce1a3;
}

#loaddr-types li:hover {
    background-color: #6e78b0;
}

.loaddr-name {
    font-size: large;
    text-transform: capitalize;
}

.description {
    display: none;
    background-color: white;
    border: 1px solid dimgray;
    z-index: 9;
    position: absolute;
}

.address {
    position: absolute;
    font-size: large;
    top: 50px;
    left: 50px;
}

.round-highlight {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color:#1998A5;
    border: 1px solid #1998A5;
    background-color: #e1faff;
    font-size: small;
}

.round-highlight:hover{
    cursor: pointer;
}

.view-settings {
    padding: 2px;
    font-size: small;
    margin-left: 20px;
}

li {
    list-style-type: none;
}